@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&family=Fraunces:wght@100;200;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: grid;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #000000;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  font-family: "Montserrat", sans-serif;
}
html body > header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 7vh;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}
html body > header .menu-name {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 100%;
}
html body > header .menu-name a {
  display: grid;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  padding: 0 2rem;
  color: #2B2B2B;
}
html body > header .menu-name a:hover {
  background: #2B2B2B;
  color: #ffffff;
}
html body > header .menu-name a:active {
  opacity: 0.75;
}
html body > header .menu-bar .nav-menu {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
html body > header .menu-bar .nav-menu a {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  color: #2B2B2B;
}
html body > header .menu-bar .nav-menu a:hover {
  background: #2B2B2B;
  color: #ffffff;
}
html body > header .menu-bar .nav-menu a:active {
  opacity: 0.75;
}
html body > header .menu-bar .nav-menu a:nth-last-child(1) {
  background: #e02020;
  color: #ffffff;
  transition: all 0.2s;
}
html body > header .menu-bar .nav-menu a:nth-last-child(1) h1 {
  font-size: 1.25rem;
  font-weight: 900;
}
html body > header .menu-bar .nav-menu a:nth-last-child(1):hover {
  background: #2B2B2B;
  color: #e02020;
}
html body > header .menu-bar .nav-menu a:nth-last-child(1):active {
  opacity: 0.75;
}
html body main {
  z-index: 0;
  padding: 7vh 0 0 0;
}
html body main .home {
  background: #F6F6F6;
  height: 40vh;
}
html body main .home .home-content {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 3vh;
  height: 100%;
  padding: 5vh 0 0 0;
}
html body main .home .home-content img {
  display: grid;
  justify-self: center;
  align-self: center;
  width: 12.5vh;
  height: 12.5vh;
  border-radius: 50%;
  box-shadow: 0 0 0 0.5rem white, 0 0 0 0.6rem rgba(0, 0, 0, 0.1);
}
html body main .home .home-content .home-name {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vh;
  color: #2B2B2B;
}
html body main .home .home-content .home-name h1 {
  display: grid;
  justify-content: center;
  align-content: end;
  font-size: 4rem;
  font-weight: 700;
}
html body main .home .home-content .home-name p {
  display: grid;
  justify-content: center;
  align-content: start;
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.5;
}
html body main .about {
  background: #ffffff;
  height: 53vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 28vh 13vh;
}
html body main .about header {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
  font-size: 1rem;
  font-weight: 700;
  color: #2B2B2B;
}
html body main .about header h1 {
  border-bottom: 0.1rem solid #e02020;
  padding: 0 0 5% 0;
}
html body main .about .about-text {
  margin: 0 auto;
  width: 45%;
  display: grid;
  align-content: center;
}
html body main .about .about-text p {
  font-family: "Fraunces", serif;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.75;
  text-align: center;
  color: #2B2B2B;
}
html body main .about .about-btn {
  display: grid;
  justify-content: center;
  align-content: center;
}
html body main .about .about-btn a {
  font-size: 1.1rem;
  border: 0.25rem solid #2B2B2B;
  padding: 1rem 1.5rem;
  background: #2B2B2B;
  color: #ffffff;
  transition: all 0.25s;
}
html body main .about .about-btn a:hover {
  background: #ffffff;
  color: #2B2B2B;
}
html body main .about .about-btn a:active {
  background: #e02020;
}
html body main .works {
  background: #F6F6F6;
  height: 76vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 66vh;
}
html body main .works header {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
  font-size: 1rem;
  font-weight: 700;
  color: #2B2B2B;
}
html body main .works header h1 {
  border-bottom: 0.1rem solid #e02020;
  padding: 0 0 5% 0;
}
html body main .works .works-row {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2%;
  justify-self: center;
  align-self: center;
  padding: 0 0 3% 0;
}
html body main .works .works-row a {
  background: #ffffff;
  transition: all 1s;
}
html body main .works .works-row a:hover {
  box-shadow: 0rem 1rem 2rem -1rem rgba(43, 43, 43, 0.25);
  transition: all 1s;
  transform: scale(1.05);
}
html body main .works .works-row a:active {
  opacity: 0.75;
}
html body main .skills {
  background: #ffffff;
  height: 53vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 43vh;
}
html body main .skills header {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
  font-size: 1rem;
  font-weight: 700;
  color: #2B2B2B;
}
html body main .skills header h1 {
  border-bottom: 0.1rem solid #e02020;
  padding: 0 0 5% 0;
}
html body main .skills .skills-table {
  height: 80%;
  width: 60%;
  padding: 0 0 2% 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-self: center;
  align-self: center;
}
html body main .skills .skills-table .skills-table_unit:nth-child(1) {
  display: grid;
  grid-template-columns: 20% 58% 20%;
  grid-template-rows: 1fr;
  gap: 3%;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-header {
  display: grid;
  justify-items: end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}
html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside {
  display: grid;
  align-self: center;
  width: 100%;
  height: 50%;
  background: #c4c4c4;
  display: grid;
  transition: all 0.5s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside .unit-inside {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 80%;
  height: 100%;
  background: #2B2B2B;
  transition: all 0.25s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-percent {
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(2) {
  display: grid;
  grid-template-columns: 20% 58% 20%;
  grid-template-rows: 1fr;
  gap: 3%;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-header {
  display: grid;
  justify-items: end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}
html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside {
  display: grid;
  align-self: center;
  width: 100%;
  height: 50%;
  background: #c4c4c4;
  display: grid;
  transition: all 0.5s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside .unit-inside {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 70%;
  height: 100%;
  background: #2B2B2B;
  transition: all 0.25s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-percent {
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(3) {
  display: grid;
  grid-template-columns: 20% 58% 20%;
  grid-template-rows: 1fr;
  gap: 3%;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-header {
  display: grid;
  justify-items: end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}
html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside {
  display: grid;
  align-self: center;
  width: 100%;
  height: 50%;
  background: #c4c4c4;
  display: grid;
  transition: all 0.5s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside .unit-inside {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 30%;
  height: 100%;
  background: #2B2B2B;
  transition: all 0.25s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-percent {
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(4) {
  display: grid;
  grid-template-columns: 20% 58% 20%;
  grid-template-rows: 1fr;
  gap: 3%;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-header {
  display: grid;
  justify-items: end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}
html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside {
  display: grid;
  align-self: center;
  width: 100%;
  height: 50%;
  background: #c4c4c4;
  display: grid;
  transition: all 0.5s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside .unit-inside {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 40%;
  height: 100%;
  background: #2B2B2B;
  transition: all 0.25s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-percent {
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(5) {
  display: grid;
  grid-template-columns: 20% 58% 20%;
  grid-template-rows: 1fr;
  gap: 3%;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-header {
  display: grid;
  justify-items: end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}
html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside {
  display: grid;
  align-self: center;
  width: 100%;
  height: 50%;
  background: #c4c4c4;
  display: grid;
  transition: all 0.5s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside .unit-inside {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 70%;
  height: 100%;
  background: #2B2B2B;
  transition: all 0.25s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-percent {
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(6) {
  display: grid;
  grid-template-columns: 20% 58% 20%;
  grid-template-rows: 1fr;
  gap: 3%;
  color: #2B2B2B;
}
html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-header {
  display: grid;
  justify-items: end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}
html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside {
  display: grid;
  align-self: center;
  width: 100%;
  height: 50%;
  background: #c4c4c4;
  display: grid;
  transition: all 0.5s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside .unit-inside {
  display: grid;
  justify-items: start;
  align-items: center;
  width: 60%;
  height: 100%;
  background: #2B2B2B;
  transition: all 0.25s;
}
html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-percent {
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: #2B2B2B;
}
html body footer {
  background: #F6F6F6;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 30vh;
}
html body footer header {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
  font-size: 1rem;
  font-weight: 700;
  color: #2B2B2B;
}
html body footer header h1 {
  border-bottom: 0.1rem solid #e02020;
  padding: 0 0 5% 0;
}
html body footer .footer-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
}
html body footer .footer-main .footer-main_contact {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 10%;
}
html body footer .footer-main .footer-main_contact h1 {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: #2B2B2B;
}
html body footer .footer-main .footer-main_contact a {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  font-weight: 500;
  color: #2B2B2B;
  transition: all 0.5s ease-in-out;
}
html body footer .footer-main .footer-main_contact a:hover {
  transform: scale(1.1);
}
html body footer .footer-main .footer-main_contact a:active {
  opacity: 0.25;
}
html body footer .footer-main .footer-main_followme {
  background: #e02020;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 10%;
  color: #2B2B2B;
}
html body footer .footer-main .footer-main_followme > h1 {
  display: grid;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 900;
}
html body footer .footer-main .footer-main_followme .footer-main_followme__sn {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  align-self: center;
  gap: 5%;
}
html body footer .footer-main .footer-main_followme .footer-main_followme__sn a {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2B2B2B;
  transition: all 0.3s ease-in-out;
}
html body footer .footer-main .footer-main_followme .footer-main_followme__sn a:hover {
  color: #ffffff;
  transform: scale(1.1);
}
html body footer .footer-main .footer-main_followme p {
  display: grid;
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 570px) and (max-width: 640px) {
  html {
    font-family: "Montserrat", sans-serif;
  }
  html body > header {
    display: none;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  html body > header .menu-name {
    display: grid;
    justify-items: start;
    align-items: center;
    padding: 0;
  }
  html body > header .menu-name a {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.0227rem 0 0 0;
  }
  html body > header .menu-bar .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  html body > header .menu-bar .nav-menu a:not(:nth-last-child(1)) {
    display: none;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1) {
    background: #e02020;
    color: #ffffff;
    transition: none;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1) h1 {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    font-weight: 900;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1):hover {
    background: #2B2B2B;
    color: #e02020;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1):active {
    opacity: 1;
  }
  html body main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: 0;
    padding: 7vh 0 0 0;
    border: 0.5rem solid purple;
  }
  html body main .home {
    height: 40vh;
  }
  html body main .home .home-content {
    justify-content: center;
    align-content: center;
    gap: 3vh;
    height: 100%;
    padding: 6vh 0 5vh 0;
  }
  html body main .home .home-content img {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5rem white, 0 0 0 0.6rem rgba(0, 0, 0, 0.1);
  }
  html body main .home .home-content .home-name {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 1vh;
    color: #2B2B2B;
  }
  html body main .home .home-content .home-name h1 {
    display: grid;
    justify-content: center;
    align-content: end;
    font-size: 2.5rem;
    font-weight: 700;
  }
  html body main .home .home-content .home-name p {
    display: grid;
    justify-content: center;
    align-content: start;
    font-size: 1.2rem;
    font-weight: 400;
  }
  html body main .about .about-text {
    width: 90%;
    padding: 0 0 2.5% 0;
  }
  html body main .about .about-text p {
    font-size: 1rem;
  }
  html body main .about .about-btn a {
    transition: none;
  }
  html body main .about .about-btn a:hover {
    background: #ffffff;
    color: #2B2B2B;
  }
  html body main .about .about-btn a:active {
    background: #ffffff;
    color: #2B2B2B;
  }
  html body main .works {
    background: #F6F6F6;
    height: 93vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 83vh;
  }
  html body main .works header {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: #2B2B2B;
  }
  html body main .works header h1 {
    border-bottom: 0.1rem solid #e02020;
    padding: 0 0 5% 0;
  }
  html body main .works .works-row {
    height: 95%;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 5%;
    align-self: start;
  }
  html body main .works .works-row a {
    transition: none;
    box-shadow: 0rem 1rem 2rem -1rem rgba(43, 43, 43, 0.25);
  }
  html body main .works .works-row a:hover {
    box-shadow: none;
    transform: none;
  }
  html body main .works .works-row a:active {
    opacity: 1;
  }
  html body main .skills .skills-table {
    height: 80%;
    width: 90%;
    padding: 0 0 10% 0;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside .unit-inside {
    width: 80%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside .unit-inside {
    width: 70%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside .unit-inside {
    width: 30%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside .unit-inside {
    width: 40%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside .unit-inside {
    width: 70%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside .unit-inside {
    width: 60%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body footer .footer-main .footer-main_contact a {
    transition: none;
  }
  html body footer .footer-main .footer-main_contact a:hover {
    transform: none;
  }
  html body footer .footer-main .footer-main_contact a:active {
    opacity: 1;
  }
  html body footer .footer-main .footer-main_followme .footer-main_followme__sn a {
    transition: none;
  }
  html body footer .footer-main .footer-main_followme .footer-main_followme__sn a:hover {
    color: #ffffff;
    transform: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 570px) {
  html {
    font-family: "Montserrat", sans-serif;
  }
  html body > header {
    height: 10vh;
    grid-template-columns: 4fr 1fr;
  }
  html body > header .menu-name a {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.0227rem 0 0 0;
  }
  html body > header .menu-bar .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  html body > header .menu-bar .nav-menu a:not(:nth-last-child(1)) {
    display: none;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1) h1 {
    font-size: 1rem;
    font-weight: 900;
  }
  html body main {
    display: grid;
    z-index: 0;
    padding: 10vh 0 0 0;
    border: none;
  }
  html body main .home {
    height: 25vh;
  }
  html body main .home .home-content {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 1.5vh;
    height: 100%;
    padding: 5vh 10% 5vh 0;
  }
  html body main .home .home-content img {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    box-shadow: 0 0 0 0.3rem white, 0 0 0 0.35rem rgba(0, 0, 0, 0.1);
  }
  html body main .home .home-content .home-name {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 1vh;
    color: #2B2B2B;
  }
  html body main .home .home-content .home-name h1 {
    display: grid;
    justify-content: center;
    align-content: end;
    font-size: 2rem;
    font-weight: 700;
  }
  html body main .home .home-content .home-name p {
    display: grid;
    justify-content: center;
    align-content: start;
    font-size: 1rem;
    font-weight: 400;
  }
  html body main .about {
    background: #ffffff;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 40vh 13vh;
  }
  html body main .about header {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: #2B2B2B;
  }
  html body main .about header h1 {
    border-bottom: 0.1rem solid #e02020;
    padding: 0 0 5% 0;
  }
  html body main .about .about-text {
    width: 95%;
    padding: 0 0 0 0;
  }
  html body main .about .about-text p {
    font-size: 1rem;
  }
  html body main .about .about-btn a {
    font-size: 0.75rem;
    transition: none;
    padding: 0.5rem 1.5rem;
  }
  html body main .about .about-btn a:hover {
    background: #ffffff;
    color: #2B2B2B;
  }
  html body main .about .about-btn a:active {
    background: #ffffff;
    color: #2B2B2B;
  }
  html body main .works {
    background: #F6F6F6;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh;
  }
  html body main .works header {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: #2B2B2B;
  }
  html body main .works header h1 {
    border-bottom: 0.1rem solid #e02020;
    padding: 0 0 5% 0;
  }
  html body main .works .works-row {
    height: 95%;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1fr, 3);
    align-items: center;
    gap: 3%;
  }
  html body main .works .works-row a {
    height: 50vh;
    transition: none;
    box-shadow: 0rem 1rem 2rem -1rem rgba(43, 43, 43, 0.25);
  }
  html body main .works .works-row a:hover {
    box-shadow: none;
    transform: none;
  }
  html body main .works .works-row a:active {
    opacity: 1;
  }
  html body main .skills {
    background: #ffffff;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh;
  }
  html body main .skills header {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: #2B2B2B;
  }
  html body main .skills header h1 {
    border-bottom: 0.1rem solid #e02020;
    padding: 0 0 5% 0;
  }
  html body main .skills .skills-table {
    height: 70%;
    width: 90%;
    padding: 0 0 2vh 0;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) {
    grid-template-columns: 25% 60% 15%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside .unit-inside {
    width: 80%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) {
    grid-template-columns: 25% 60% 15%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside .unit-inside {
    width: 70%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) {
    grid-template-columns: 25% 60% 15%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside .unit-inside {
    width: 30%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) {
    grid-template-columns: 25% 60% 15%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside .unit-inside {
    width: 40%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) {
    grid-template-columns: 25% 60% 15%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside .unit-inside {
    width: 70%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) {
    grid-template-columns: 25% 60% 15%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside .unit-inside {
    width: 60%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body footer {
    background: #F6F6F6;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh;
  }
  html body footer header {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: #2B2B2B;
  }
  html body footer header h1 {
    border-bottom: 0.1rem solid #e02020;
    padding: 0 0 5% 0;
  }
  html body footer .footer-main .footer-main_contact a {
    transition: none;
  }
  html body footer .footer-main .footer-main_contact a:hover {
    transform: none;
  }
  html body footer .footer-main .footer-main_contact a:active {
    opacity: 1;
  }
  html body footer .footer-main .footer-main_followme .footer-main_followme__sn a {
    transition: none;
  }
  html body footer .footer-main .footer-main_followme .footer-main_followme__sn a:hover {
    color: #ffffff;
    transform: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-family: "Montserrat", sans-serif;
  }
  html body > header {
    display: none;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  html body > header .menu-name {
    display: grid;
    justify-items: start;
    align-items: center;
    padding: 0;
  }
  html body > header .menu-name a {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.0227rem 0 0 0;
  }
  html body > header .menu-bar .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  html body > header .menu-bar .nav-menu a:not(:nth-last-child(1)) {
    display: none;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1) {
    background: #e02020;
    color: #ffffff;
    transition: none;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1) h1 {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    font-weight: 900;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1):hover {
    background: #2B2B2B;
    color: #e02020;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1):active {
    opacity: 1;
  }
  html body main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: 0;
    padding: 7vh 0 0 0;
  }
  html body main .home {
    height: 40vh;
  }
  html body main .home .home-content {
    justify-content: center;
    align-content: center;
    gap: 3vh;
    height: 100%;
    padding: 6vh 0 5vh 0;
  }
  html body main .home .home-content img {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5rem white, 0 0 0 0.6rem rgba(0, 0, 0, 0.1);
  }
  html body main .home .home-content .home-name {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 1vh;
    color: #2B2B2B;
  }
  html body main .home .home-content .home-name h1 {
    display: grid;
    justify-content: center;
    align-content: end;
    font-size: 2.5rem;
    font-weight: 700;
  }
  html body main .home .home-content .home-name p {
    display: grid;
    justify-content: center;
    align-content: start;
    font-size: 1.2rem;
    font-weight: 400;
  }
  html body main .about .about-text {
    width: 90%;
    padding: 0 0 2.5% 0;
  }
  html body main .about .about-text p {
    font-size: 1rem;
  }
  html body main .about .about-btn a {
    transition: none;
  }
  html body main .about .about-btn a:hover {
    background: #ffffff;
    color: #2B2B2B;
  }
  html body main .about .about-btn a:active {
    background: #ffffff;
    color: #2B2B2B;
  }
  html body main .works {
    background: #F6F6F6;
    height: 93vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 83vh;
  }
  html body main .works header {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: #2B2B2B;
  }
  html body main .works header h1 {
    border-bottom: 0.1rem solid #e02020;
    padding: 0 0 5% 0;
  }
  html body main .works .works-row {
    height: 95%;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 5%;
    align-self: start;
  }
  html body main .works .works-row a {
    transition: none;
    box-shadow: 0rem 1rem 2rem -1rem rgba(43, 43, 43, 0.25);
  }
  html body main .works .works-row a:hover {
    box-shadow: none;
    transform: none;
  }
  html body main .works .works-row a:active {
    opacity: 1;
  }
  html body main .skills .skills-table {
    height: 80%;
    width: 90%;
    padding: 0 0 10% 0;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside .unit-inside {
    width: 80%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside .unit-inside {
    width: 70%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside .unit-inside {
    width: 30%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside .unit-inside {
    width: 40%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside .unit-inside {
    width: 70%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) {
    grid-template-columns: 35% 48% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-header {
    font-size: 1.25rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside .unit-inside {
    width: 60%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-percent {
    font-size: 1.25rem;
    font-weight: 100;
  }
  html body footer .footer-main .footer-main_contact a {
    transition: none;
  }
  html body footer .footer-main .footer-main_contact a:hover {
    transform: none;
  }
  html body footer .footer-main .footer-main_contact a:active {
    opacity: 1;
  }
  html body footer .footer-main .footer-main_followme .footer-main_followme__sn a {
    transition: none;
  }
  html body footer .footer-main .footer-main_followme .footer-main_followme__sn a:hover {
    color: #ffffff;
    transform: none;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-family: "Montserrat", sans-serif;
  }
  html body > header {
    display: none;
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  html body > header .menu-name {
    display: grid;
    justify-items: start;
    align-items: center;
    padding: 0;
  }
  html body > header .menu-name a {
    width: 100%;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 700;
    padding: 0.05rem 0 0 0.5rem;
  }
  html body > header .menu-bar .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  html body > header .menu-bar .nav-menu a:not(:nth-last-child(1)) {
    display: none;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1) {
    background: #e02020;
    color: #ffffff;
    transition: none;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1) h1 {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 0.8rem;
    font-weight: 900;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1):hover {
    background: #2B2B2B;
    color: #e02020;
  }
  html body > header .menu-bar .nav-menu a:nth-last-child(1):active {
    opacity: 1;
  }
  html body main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: 0;
    padding: 7vh 0 0 0;
  }
  html body main .home {
    height: 40vh;
  }
  html body main .home .home-content {
    justify-content: center;
    align-content: center;
    gap: 3vh;
    height: 100%;
    padding: 6vh 0 5vh 0;
  }
  html body main .home .home-content img {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5rem white, 0 0 0 0.6rem rgba(0, 0, 0, 0.1);
  }
  html body main .home .home-content .home-name {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 1vh;
    color: #2B2B2B;
  }
  html body main .home .home-content .home-name h1 {
    display: grid;
    justify-content: center;
    align-content: end;
    font-size: 2.5rem;
    font-weight: 700;
  }
  html body main .home .home-content .home-name p {
    display: grid;
    justify-content: center;
    align-content: start;
    font-size: 1.2rem;
    font-weight: 400;
  }
  html body main .about .about-text {
    width: 90%;
  }
  html body main .about .about-text p {
    font-size: 0.87rem;
  }
  html body main .about .about-btn a {
    transition: none;
    font-size: 1rem;
    padding: 1rem 1rem;
  }
  html body main .about .about-btn a:hover {
    background: #ffffff;
    color: #2B2B2B;
  }
  html body main .about .about-btn a:active {
    background: #ffffff;
    color: #2B2B2B;
  }
  html body main .works {
    background: #F6F6F6;
    height: 93vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 83vh;
  }
  html body main .works header {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: #2B2B2B;
  }
  html body main .works header h1 {
    border-bottom: 0.1rem solid #e02020;
    padding: 0 0 5% 0;
  }
  html body main .works .works-row {
    height: 95%;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 5%;
    align-self: start;
  }
  html body main .works .works-row a {
    transition: none;
    box-shadow: 0rem 1rem 2rem -1rem rgba(43, 43, 43, 0.25);
  }
  html body main .works .works-row a:hover {
    box-shadow: none;
    transform: none;
  }
  html body main .works .works-row a:active {
    opacity: 1;
  }
  html body main .skills .skills-table {
    width: 88%;
    padding: 0 1% 10% 0;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) {
    grid-template-columns: 37% 46% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-header {
    font-size: 1.1rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-outside .unit-inside {
    width: 80%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(1) .unit-percent {
    font-size: 1.1rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) {
    grid-template-columns: 37% 46% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-header {
    font-size: 1.1rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-outside .unit-inside {
    width: 70%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(2) .unit-percent {
    font-size: 1.1rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) {
    grid-template-columns: 37% 46% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-header {
    font-size: 1.1rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-outside .unit-inside {
    width: 30%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(3) .unit-percent {
    font-size: 1.1rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) {
    grid-template-columns: 37% 46% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-header {
    font-size: 1.1rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-outside .unit-inside {
    width: 40%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(4) .unit-percent {
    font-size: 1.1rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) {
    grid-template-columns: 37% 46% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-header {
    font-size: 1.1rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-outside .unit-inside {
    width: 70%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(5) .unit-percent {
    font-size: 1.1rem;
    font-weight: 100;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) {
    grid-template-columns: 37% 46% 12%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-header {
    font-size: 1.1rem;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside {
    height: 45%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-outside .unit-inside {
    width: 60%;
  }
  html body main .skills .skills-table .skills-table_unit:nth-child(6) .unit-percent {
    font-size: 1.1rem;
    font-weight: 100;
  }
  html body footer .footer-main .footer-main_contact a {
    transition: none;
  }
  html body footer .footer-main .footer-main_contact a:hover {
    transform: none;
  }
  html body footer .footer-main .footer-main_contact a:active {
    opacity: 1;
  }
  html body footer .footer-main .footer-main_followme .footer-main_followme__sn {
    gap: 3%;
    margin: 0 auto;
    width: 89%;
  }
  html body footer .footer-main .footer-main_followme .footer-main_followme__sn a {
    display: grid;
    justify-self: center;
    font-size: 1rem;
    font-weight: 500;
    transition: none;
  }
  html body footer .footer-main .footer-main_followme .footer-main_followme__sn a:hover {
    color: #ffffff;
    transform: none;
  }
}

/*# sourceMappingURL=styles.css.map */
