@media screen and (min-width: 570px) and (max-width: 640px) {
   
    $color-red: #e02020;
    $color-white: #ffffff;
    $color-black: #2B2B2B;
    $color-back: #F6F6F6;

    @mixin skills($percent: 10%) {
        grid-template-columns: 35% 48% 12%;
        .unit-header {
            // border: .1rem solid purple;
            font-size: 1.25rem;
        }
        .unit-outside {
            // border: .1rem solid purple;
            height: 45%;
            .unit-inside {
                width: $percent;
            }
        }
        .unit-percent {
            // border: .1rem solid red;
            font-size: 1.25rem;
            font-weight: 100;
        }
    }

    html {
        // border: .1rem solid red;
        font-family: "Montserrat", sans-serif;
        // overflow-x: hidden;
        body {
            // border: .1rem solid purple;
            >header {
                // border: .2rem solid red;
                display: none;
                padding: 0 1rem;
                // height: 7vh;
                display: grid;
                grid-template-columns: 3fr 1fr;
                .menu-name {
                    // border: .2rem solid red;
                    display: grid;
                    justify-items: start;
                    align-items: center;
                    padding: 0;
                    a {
                        // border: .2rem solid red;
                        width: 100%;
                        text-align: center;
                        font-size: 1.2rem;
                        font-weight: 700;
                        padding: .0227rem 0 0 0;
                    }
                }
                .menu-bar {
                    // border: .2rem solid red;
                    .nav-menu {
                        // border: .2rem solid red;
                        // height: 100%;
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr;
                        a {
                            &:not(:nth-last-child(1)) {
                                display: none;
                            }
                            &:nth-last-child(1) {
                                // border: .1rem solid blue;
                                background: $color-red;
                                color: $color-white;
                                transition: none;
                                h1 {
                                    display: grid;
                                    justify-content: center;
                                    align-content: center;
                                    font-size: 1rem;
                                    font-weight: 900;
                                }
                                &:hover {
                                    background: $color-black;
                                    color: $color-red;
                                }
                                &:active {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            main {
                // display: none;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                z-index: 0;
                padding: 7vh 0 0 0;
                border: .5rem solid purple;
                .home {
                    height: 40vh;
                    .home-content {
                        // border: .25rem solid red;
                        justify-content: center;
                        align-content: center;
                        gap: 3vh;
                        height: 100%;
                        padding: 6vh 0 5vh 0;
                        img {
                            display: grid;
                            justify-self: center;
                            align-self: center;
                            width: 15vh;
                            height: 15vh;
                            border-radius: 50%;
                            box-shadow: 0 0 0 .5rem rgba(255, 255, 255, 1), 0 0 0 .6rem rgba(0, 0, 0, .1);
                        }
                        .home-name {
                            // border: .25rem solid red;
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 2fr 1fr;
                            gap: 1vh;
                            color: $color-black;
                            h1 {
                                // border: .1rem solid red;
                                display: grid;
                                justify-content: center;
                                align-content: end;
                                font-size: 2.5rem;
                                font-weight: 700;
                            }
                            p {
                                // border: .1rem solid red;
                                display: grid;
                                justify-content: center;
                                align-content: start;
                                font-size: 1.2rem;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .about {
                    .about-text{
                        width: 90%;
                        padding: 0 0 2.5% 0;
                        p {
                            font-size: 1rem;
                        }
                    }
                    .about-btn {
                        a {
                            transition: none;
                            &:hover {
                                background: $color-white;
                                color: $color-black;
                            }
                            &:active {
                                background: $color-white;
                                color: $color-black;
                            }
                        }
                    }
                }
                .works {
                    @include header($color-back, 93vh, 10vh 83vh);
                    .works-row {
                        height: 95%;
                        width: 80%;
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr;
                        grid-template-columns: 1fr;
                        gap: 5%;
                        align-self: start;
                        a {
                            transition: none;
                            box-shadow: 0rem 1rem 2rem -1rem rgba($color: $color-black, $alpha: .25);
                            &:hover {
                                box-shadow: none;
                                transform: none;
                            }
                            &:active {
                                opacity: 1;
                            }
                        }
                    }
                }
                .skills {
                    // border: .1rem solid purple;
                    .skills-table {
                        // border: .1rem solid red;
                        height: 80%;
                        width: 90%;
                        padding: 0 0 10% 0;
                        .skills-table_unit {
                            // border: .1rem solid green;
                            &:nth-child(1) {
                            @include skills(80%);
                            }
                            &:nth-child(2) {
                            @include skills(70%);
                            }
                            &:nth-child(3) {
                            @include skills(30%);
                            }
                            &:nth-child(4) {
                            @include skills(40%);
                            }
                            &:nth-child(5) {
                            @include skills(70%);
                            }
                            &:nth-child(6) {
                            @include skills(60%);
                            }
                            
                        }
                    }
                }
            }
            footer {
                // display: none;
                .footer-main {
                    .footer-main_contact {
                        a {
                            transition: none;
                            &:hover {
                                transform: none;
                            }
                            &:active {
                                opacity: 1;
                            }
                        }
                    }
                    .footer-main_followme {
                        .footer-main_followme__sn {
                            a {
                                transition: none;
                                &:hover {
                                    color: $color-white;
                                    transform: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

} 

//Landscape for iPhone 5, SE
@media screen and (min-width: 481px) and (max-width: 570px) {
   
    $color-red: #e02020;
    $color-white: #ffffff;
    $color-black: #2B2B2B;
    $color-back: #F6F6F6;

    @mixin skills($percent: 10%) {
        grid-template-columns: 25% 60% 15%;
        .unit-header {
            // border: .1rem solid purple;
            font-size: 1.25rem;
        }
        .unit-outside {
            // border: .1rem solid purple;
            height: 45%;
            .unit-inside {
                width: $percent;
            }
        }
        .unit-percent {
            // border: .1rem solid red;
            font-size: 1.25rem;
            font-weight: 100;
        }
    }

    html {
        // border: .1rem solid red;
        font-family: "Montserrat", sans-serif;
        // overflow-x: hidden;
        body {
            // border: .1rem solid purple;
            >header {
                // border: .2rem solid red;
                height: 10vh;
                grid-template-columns: 4fr 1fr;
                .menu-name {
                    // border: .2rem solid red;
                    a {
                        // border: .2rem solid red;
                        width: 100%;
                        text-align: left;
                        font-size: 1.2rem;
                        font-weight: 700;
                        padding: .0227rem 0 0 0;
                    }
                }
                .menu-bar {
                    // border: .2rem solid red;
                    .nav-menu {
                        // border: .2rem solid red;
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr;
                        a {
                            &:not(:nth-last-child(1)) {
                                display: none;
                            }
                            &:nth-last-child(1) {
                                // border: .1rem solid blue;
                                h1 {
                                    font-size: 1rem;
                                    font-weight: 900;
                                }
                            }
                        }
                    }
                }
            }
            main {
                // display: none;
                display: grid;
                z-index: 0;
                padding: 10vh 0 0 0;
                border: none;
                .home {
                    height: 25vh;
                    // border: .1rem solid red;
                    .home-content {
                        // border: .25rem solid red;
                        grid-template-columns: 1fr 1fr;
                        justify-content: center;
                        align-content: center;
                        gap: 1.5vh;
                        height: 100%;
                        padding: 5vh 10% 5vh 0;
                        img {
                            display: grid;
                            justify-self: center;
                            align-self: center;
                            width: 20vh;
                            height: 20vh;
                            border-radius: 50%;
                            box-shadow: 0 0 0 .3rem rgba(255, 255, 255, 1), 0 0 0 .35rem rgba(0, 0, 0, .1);
                        }
                        .home-name {
                            // border: .25rem solid red;
                            height: 100%;
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 2fr 1fr;
                            gap: 1vh;
                            color: $color-black;
                            h1 {
                                // border: .1rem solid red;
                                display: grid;
                                justify-content: center;
                                align-content: end;
                                font-size: 2rem;
                                font-weight: 700;
                            }
                            p {
                                // border: .1rem solid red;
                                display: grid;
                                justify-content: center;
                                align-content: start;
                                font-size: 1rem;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .about {
                    @include header($color-white, 65vh, 10vh 40vh 13vh);
                    .about-text{
                        // border: .1rem solid red;
                        width: 95%;
                        padding: 0 0 0 0;
                        p {
                            // border: .1rem solid red;
                            font-size: 1rem;
                        }
                    }
                    .about-btn {
                        // border: .1rem solid red;
                        a {
                            font-size: .75rem;
                            transition: none;
                            padding: .5rem 1.5rem;
                            &:hover {
                                background: $color-white;
                                color: $color-black;
                            }
                            &:active {
                                background: $color-white;
                                color: $color-black;
                            }
                        }
                    }
                }
                .works {
                    @include header($color-back, 90vh, 10vh 80vh);
                    .works-row {
                        height: 95%;
                        width: 90%;
                        display: grid;
                        grid-template-rows: 1fr;
                        grid-template-columns: repeat(1fr, 3);
                        align-items: center;
                        gap: 3%;
                        a {
                            height: 50vh;
                            transition: none;
                            box-shadow: 0rem 1rem 2rem -1rem rgba($color: $color-black, $alpha: .25);
                            &:hover {
                                box-shadow: none;
                                transform: none;
                            }
                            &:active {
                                opacity: 1;
                            }
                        }
                    }
                }
                .skills {
                    // border: .1rem solid purple;
                    @include header($color-white, 90vh, 10vh 80vh);
                    .skills-table {
                        // border: .1rem solid red;
                        height: 70%;
                        width: 90%;
                        padding: 0 0 2vh 0;
                        .skills-table_unit {
                            // border: .1rem solid green;
                            &:nth-child(1) {
                            @include skills(80%);
                            }
                            &:nth-child(2) {
                            @include skills(70%);
                            }
                            &:nth-child(3) {
                            @include skills(30%);
                            }
                            &:nth-child(4) {
                            @include skills(40%);
                            }
                            &:nth-child(5) {
                            @include skills(70%);
                            }
                            &:nth-child(6) {
                            @include skills(60%);
                            }
                            
                        }
                    }
                }
            }
            footer {
                // display: none;
                @include header($color-back, 90vh, 10vh 80vh);
                .footer-main {
                    .footer-main_contact {
                        a {
                            transition: none;
                            &:hover {
                                transform: none;
                            }
                            &:active {
                                opacity: 1;
                            }
                        }
                    }
                    .footer-main_followme {
                        .footer-main_followme__sn {
                            a {
                                transition: none;
                                &:hover {
                                    color: $color-white;
                                    transform: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

} 

// iPhone 6, 7, 8
@media screen and (min-width: 320px) and (max-width: 480px) {
   
    $color-red: #e02020;
    $color-white: #ffffff;
    $color-black: #2B2B2B;
    $color-back: #F6F6F6;

    @mixin skills($percent: 10%) {
        grid-template-columns: 35% 48% 12%;
        .unit-header {
            // border: .1rem solid purple;
            font-size: 1.25rem;
        }
        .unit-outside {
            // border: .1rem solid purple;
            height: 45%;
            .unit-inside {
                width: $percent;
            }
        }
        .unit-percent {
            // border: .1rem solid red;
            font-size: 1.25rem;
            font-weight: 100;
        }
    }

    html {
        // border: .1rem solid red;
        font-family: "Montserrat", sans-serif;
        // overflow-x: hidden;
        body {
            // border: .1rem solid purple;
            >header {
                // border: .2rem solid red;
                display: none;
                padding: 0 1rem;
                display: grid;
                grid-template-columns: 3fr 1fr;
                .menu-name {
                    // border: .2rem solid red;
                    display: grid;
                    justify-items: start;
                    align-items: center;
                    padding: 0;
                    a {
                        // border: .2rem solid red;
                        width: 100%;
                        text-align: center;
                        font-size: 1.2rem;
                        font-weight: 700;
                        padding: .0227rem 0 0 0;
                    }
                }
                .menu-bar {
                    // border: .2rem solid red;
                    .nav-menu {
                        // border: .2rem solid red;
                        // height: 100%;
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr;
                        a {
                            &:not(:nth-last-child(1)) {
                                display: none;
                            }
                            &:nth-last-child(1) {
                                // border: .1rem solid blue;
                                background: $color-red;
                                color: $color-white;
                                transition: none;
                                h1 {
                                    display: grid;
                                    justify-content: center;
                                    align-content: center;
                                    font-size: 1rem;
                                    font-weight: 900;
                                }
                                &:hover {
                                    background: $color-black;
                                    color: $color-red;
                                }
                                &:active {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            main {
                // display: none;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                z-index: 0;
                padding: 7vh 0 0 0;
                // border: .5rem solid purple;
                .home {
                    height: 40vh;
                    .home-content {
                        // border: .25rem solid red;
                        justify-content: center;
                        align-content: center;
                        gap: 3vh;
                        height: 100%;
                        padding: 6vh 0 5vh 0;
                        img {
                            display: grid;
                            justify-self: center;
                            align-self: center;
                            width: 15vh;
                            height: 15vh;
                            border-radius: 50%;
                            box-shadow: 0 0 0 .5rem rgba(255, 255, 255, 1), 0 0 0 .6rem rgba(0, 0, 0, .1);
                        }
                        .home-name {
                            // border: .25rem solid red;
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 2fr 1fr;
                            gap: 1vh;
                            color: $color-black;
                            h1 {
                                // border: .1rem solid red;
                                display: grid;
                                justify-content: center;
                                align-content: end;
                                font-size: 2.5rem;
                                font-weight: 700;
                            }
                            p {
                                // border: .1rem solid red;
                                display: grid;
                                justify-content: center;
                                align-content: start;
                                font-size: 1.2rem;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .about {
                    .about-text{
                        width: 90%;
                        padding: 0 0 2.5% 0;
                        p {
                            font-size: 1rem;
                        }
                    }
                    .about-btn {
                        a {
                            transition: none;
                            &:hover {
                                background: $color-white;
                                color: $color-black;
                            }
                            &:active {
                                background: $color-white;
                                color: $color-black;
                            }
                        }
                    }
                }
                .works {
                    @include header($color-back, 93vh, 10vh 83vh);
                    .works-row {
                        height: 95%;
                        width: 80%;
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr;
                        grid-template-columns: 1fr;
                        gap: 5%;
                        align-self: start;
                        a {
                            transition: none;
                            box-shadow: 0rem 1rem 2rem -1rem rgba($color: $color-black, $alpha: .25);
                            &:hover {
                                box-shadow: none;
                                transform: none;
                            }
                            &:active {
                                opacity: 1;
                            }
                        }
                    }
                }
                .skills {
                    // border: .1rem solid purple;
                    .skills-table {
                        // border: .1rem solid red;
                        height: 80%;
                        width: 90%;
                        padding: 0 0 10% 0;
                        .skills-table_unit {
                            // border: .1rem solid green;
                            &:nth-child(1) {
                            @include skills(80%);
                            }
                            &:nth-child(2) {
                            @include skills(70%);
                            }
                            &:nth-child(3) {
                            @include skills(30%);
                            }
                            &:nth-child(4) {
                            @include skills(40%);
                            }
                            &:nth-child(5) {
                            @include skills(70%);
                            }
                            &:nth-child(6) {
                            @include skills(60%);
                            }
                            
                        }
                    }
                }
            }
            footer {
                // display: none;
                .footer-main {
                    .footer-main_contact {
                        a {
                            transition: none;
                            &:hover {
                                transform: none;
                            }
                            &:active {
                                opacity: 1;
                            }
                        }
                    }
                    .footer-main_followme {
                        .footer-main_followme__sn {
                            a {
                                transition: none;
                                &:hover {
                                    color: $color-white;
                                    transform: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

} 

// iPhone 5, SE
@media screen and (max-width: 320px) {
   
    $color-red: #e02020;
    $color-white: #ffffff;
    $color-black: #2B2B2B;
    $color-back: #F6F6F6;

    @mixin skills($percent: 10%) {
        grid-template-columns: 37% 46% 12%;
        .unit-header {
            // border: .1rem solid purple;
            font-size: 1.1rem;
        }
        .unit-outside {
            // border: .1rem solid purple;
            height: 45%;
            .unit-inside {
                width: $percent;
            }
        }
        .unit-percent {
            // border: .1rem solid red;
            font-size: 1.1rem;
            font-weight: 100;
        }
    }

    html {
        // border: .1rem solid red;
        font-family: "Montserrat", sans-serif;
        // overflow-x: hidden;
        body {
            // border: .1rem solid purple;
            >header {
                // border: .2rem solid red;
                display: none;
                padding: 0 1rem 0 1rem;
                display: grid;
                grid-template-columns: 3fr 1fr;
                .menu-name {
                    // border: .2rem solid red;
                    display: grid;
                    justify-items: start;
                    align-items: center;
                    padding: 0;
                    a {
                        // border: .2rem solid green;
                        width: 100%;
                        text-align: center;
                        font-size: .95rem;
                        font-weight: 700;
                        padding: .05rem 0 0 .5rem;
                    }
                }
                .menu-bar {
                    // border: .2rem solid red;
                    .nav-menu {
                        // border: .2rem solid red;
                        // height: 100%;
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr;
                        a {
                            &:not(:nth-last-child(1)) {
                                display: none;
                            }
                            &:nth-last-child(1) {
                                // border: .1rem solid blue;
                                background: $color-red;
                                color: $color-white;
                                transition: none;
                                h1 {
                                    display: grid;
                                    justify-content: center;
                                    align-content: center;
                                    font-size: .8rem;
                                    font-weight: 900;
                                }
                                &:hover {
                                    background: $color-black;
                                    color: $color-red;
                                }
                                &:active {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            main {
                // display: none;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                z-index: 0;
                padding: 7vh 0 0 0;
                // border: .5rem solid purple;
                .home {
                    height: 40vh;
                    .home-content {
                        // border: .25rem solid red;
                        justify-content: center;
                        align-content: center;
                        gap: 3vh;
                        height: 100%;
                        padding: 6vh 0 5vh 0;
                        img {
                            display: grid;
                            justify-self: center;
                            align-self: center;
                            width: 15vh;
                            height: 15vh;
                            border-radius: 50%;
                            box-shadow: 0 0 0 .5rem rgba(255, 255, 255, 1), 0 0 0 .6rem rgba(0, 0, 0, .1);
                        }
                        .home-name {
                            // border: .25rem solid red;
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 2fr 1fr;
                            gap: 1vh;
                            color: $color-black;
                            h1 {
                                // border: .1rem solid red;
                                display: grid;
                                justify-content: center;
                                align-content: end;
                                font-size: 2.5rem;
                                font-weight: 700;
                            }
                            p {
                                // border: .1rem solid red;
                                display: grid;
                                justify-content: center;
                                align-content: start;
                                font-size: 1.2rem;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .about {
                    .about-text{
                        width: 90%;
                        // padding: 0 0 2.5% 0;
                        p {
                            font-size: .87rem;
                        }
                    }
                    .about-btn {
                        a {
                            transition: none;
                            font-size: 1rem;
                            padding: 1rem 1rem;
                            &:hover {
                                background: $color-white;
                                color: $color-black;
                            }
                            &:active {
                                background: $color-white;
                                color: $color-black;
                            }
                        }
                    }
                }
                .works {
                    @include header($color-back, 93vh, 10vh 83vh);
                    .works-row {
                        height: 95%;
                        width: 80%;
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr;
                        grid-template-columns: 1fr;
                        gap: 5%;
                        align-self: start;
                        a {
                            transition: none;
                            box-shadow: 0rem 1rem 2rem -1rem rgba($color: $color-black, $alpha: .25);
                            &:hover {
                                box-shadow: none;
                                transform: none;
                            }
                            &:active {
                                opacity: 1;
                            }
                        }
                    }
                }
                .skills {
                    // border: .1rem solid purple;
                    .skills-table {
                        // border: .1rem solid red;
                        // height: 80%;
                        width: 90%;
                        padding: 0 1% 10% 0;
                        .skills-table_unit {
                            // border: .1rem solid green;
                            &:nth-child(1) {
                            @include skills(80%);
                            }
                            &:nth-child(2) {
                            @include skills(70%);
                            }
                            &:nth-child(3) {
                            @include skills(30%);
                            }
                            &:nth-child(4) {
                            @include skills(40%);
                            }
                            &:nth-child(5) {
                            @include skills(70%);
                            }
                            &:nth-child(6) {
                            @include skills(60%);
                            }
                            
                        }
                    }
                }
            }
            footer {
                // display: none;
                .footer-main {
                    .footer-main_contact {
                        a {
                            transition: none;
                            &:hover {
                                transform: none;
                            }
                            &:active {
                                opacity: 1;
                            }
                        }
                    }
                    .footer-main_followme {
                        .footer-main_followme__sn {
                            // border: .1rem solid white;
                            gap: 3%;
                            margin: 0 auto;
                            width: 89%;
                            a {
                                display: grid;
                                justify-self: center;
                                font-size: 1rem;
                                font-weight: 500;
                                // border: .1rem solid white;
                                transition: none;
                                &:hover {
                                    color: $color-white;
                                    transform: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

} 