@import 'clear';

$color-red: #e02020;
$color-white: #ffffff;
$color-black: #2B2B2B;
$color-back: #F6F6F6;

@mixin header ($color, $heightVH, $row...) {
  background: $color;
  height: $heightVH;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $row;
  header {
    // border: .5rem solid blue;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: $color-black;
    h1 {
      border-bottom: .1rem solid $color-red;
      padding: 0 0 5% 0;
    }
  }
}

@mixin skills($percent: 10%) {
  display: grid;
  grid-template-columns: 20% 58% 20%;
  grid-template-rows: 1fr;
  gap: 3%;
  color: $color-black;
  .unit-header {
    display: grid;
    justify-items: end;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
  }
  .unit-outside {
    display: grid;
    align-self: center;
    width: 100%;
    height: 50%;
    background: #c4c4c4;
    display: grid;
    transition: all .5s;
    .unit-inside {
      display: grid;
      justify-items: start;
      align-items: center;
      width: $percent;
      height: 100%;
      background: $color-black;
      transition: all .25s;
    }
  }
  .unit-percent {
    display: grid;
    justify-items: start;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    color: $color-black;
  }
}

html {
  // border: .1rem solid red;
  // scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  body {
    >header {
      // border: .2rem solid red;
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 7vh;
      padding: 0 2rem;
      display: grid;
      grid-template-columns: 2fr 1fr;
      background: rgba(255, 255, 255, .85);
      backdrop-filter: blur(.5rem);
      -webkit-backdrop-filter: blur(.5rem);
      .menu-name {
        display: grid;
        justify-items: start;
        align-items: center;
        width: 100%;
        // border: .2rem solid red;
        a {
          display: grid;
          align-items: center;
          // border: .2rem solid red;
          height: 100%;
          font-size: 1.2rem;
          font-weight: 700;
          letter-spacing: .5rem;
          padding: 0 2rem;
          color: $color-black;
          &:hover {
            background: $color-black;
            color: $color-white;
          }
          &:active {
            opacity: .75;
          }
        }
      }
      .menu-bar {
        .nav-menu {
          // border: .2rem solid red;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          a {
            // border: .2rem solid red;
            display: grid;
            justify-items: center;
            align-items: center;
            font-size: .75rem;
            letter-spacing: .15rem;
            color: $color-black;
            &:hover {
              background: $color-black;
              color: $color-white;
            }
            &:active {
              opacity: .75;
            }
            &:nth-last-child(1) {
              background: $color-red;
              color: $color-white;
              transition: all .2s;
              h1 {
                font-size: 1.25rem;
                font-weight: 900;
              }
              &:hover {
                background: $color-black;
                color: $color-red;
              }
              &:active {
                opacity: .75;
              }
            }
          }
        }
      }
    }
    main {
      z-index: 0;
      padding: 7vh 0 0 0;
      .home {
        // border: .5rem solid green;
        background: $color-back;
        height: 40vh;
        .home-content {
          // border: .5rem solid red;
          display: grid;
          justify-content: center;
          align-content: center;
          gap: 3vh;
          height: 100%;
          padding: 5vh 0 0 0;
          img {
            display: grid;
            justify-self: center;
            align-self: center;
            width: 12.5vh;
            height: 12.5vh;
            border-radius: 50%;
            box-shadow: 0 0 0 .5rem rgba(255, 255, 255, 1), 0 0 0 .6rem rgba(0, 0, 0, .1);
          }
          .home-name {
            // border: .5rem solid red;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1vh;
            color: $color-black;
            h1 {
              // border: .1rem solid red;
              display: grid;
              justify-content: center;
              align-content: end;
              font-size: 4rem;
              font-weight: 700;
            }
            p {
              // border: .1rem solid red;
              display: grid;
              justify-content: center;
              align-content: start;
              font-size: 1.5rem;
              font-weight: 300;
              opacity: .5;
            }
          }
        }
      }
      .about {
        @include header($color-white, 53vh, 10vh 28vh 13vh);
        // border: .5rem solid red;
        .about-text{
          // border: .5rem solid purple;
          margin: 0 auto;
          // max-width: 100%;
          width: 100% - 40%;
          display: grid;
          align-content: center;
          p {
            font-family: "Fraunces", serif;
            font-size: 1.25rem;
            font-weight: 200;
            line-height: 1.75;
            text-align: center;
            color: $color-black;
          }
        }
        .about-btn {
            // border: .5rem solid green;
            display: grid;
            justify-content: center;
            align-content: center;
            a {
              font-size: 1.1rem;
              // border-radius: .25rem;
              border: .25rem solid $color-black;
              padding: 1rem 1.5rem;
              background: $color-black;
              color: $color-white;
              transition: all .25s;
              &:hover {
                background: $color-white;
                color: $color-black;
              }
              &:active {
                background: $color-red;
              }
            }
        }
      }
      .works {
        @include header($color-back, 76vh, 10vh 66vh);
        // border: .5rem solid red;
        .works-row {
          // border: .5rem solid red;
          height: 80%;
          width: 80%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 2%;
          justify-self: center;
          align-self: center;
          padding: 0 0 3% 0;
          // transition: all .5s;
          a {
            // border: .5rem solid purple;
            background: $color-white;
            transition: all 1s;
            &:hover {
              box-shadow: 0rem 1rem 2rem -1rem rgba($color: $color-black, $alpha: .25);
              transition: all 1s;
              transform: scale(1.05);
            }
            &:active {
              opacity: .75;
            }
          }
        }
      }
      .skills {
        @include header($color-white, 53vh, 10vh 43vh);
        .skills-table {
          height: 80%;
          width: 60%;
          padding: 0 0 2% 2%;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 1fr);
          justify-self: center;
          align-self: center;
          .skills-table_unit {
            &:nth-child(1) {
              @include skills(80%);
            }
            &:nth-child(2) {
              @include skills(70%);
            }
            &:nth-child(3) {
              @include skills(30%);
            }
            &:nth-child(4) {
              @include skills(40%);
            }
            &:nth-child(5) {
              @include skills(70%);
            }
            &:nth-child(6) {
              @include skills(60%);
            }
            
          }
        }
      }
    }
    footer {
      @include header($color-back, 40vh, 10vh 30vh);
      // border: .1rem solid purple;
      .footer-main {
        // border: .1rem solid blue;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        .footer-main_contact {
          // border: .1rem solid red;
          display: grid;
          justify-content: center;
          align-content: center;
          gap: 10%;
          h1 {
            // border: .1rem solid red;
            display: grid;
            justify-content: center;
            align-content: center;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: .5rem;
            color: $color-black;
          }
          a {
            // border: .1rem solid red;
            // text-align: center;
            display: grid;
            justify-content: center;
            align-content: center;
            font-size: 1rem;
            font-weight: 500;
            color: $color-black;
            transition: all .5s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
            &:active {
              opacity: .25;
            }
          }
        }
        .footer-main_followme {
          // border: .1rem solid white;
          background: $color-red;
          display: grid;
          justify-content: center;
          align-content: center;
          gap: 10%;
          color: $color-black;
          >h1 {
            // border: .1rem solid white;
            display: grid;
            justify-self: center;
            align-self: center;
            font-size: 1.5rem;
            font-weight: 900;
          }
          .footer-main_followme__sn {
            // border: .1rem solid white;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 1fr);
            // justify-content: center;
            align-self: center;
            gap: 5%;
            a {
              // border: .1rem solid green;
              text-align: center;
              font-size: 1.1rem;
              font-weight: 500;
              color: $color-black;
              transition: all .3s ease-in-out;
              &:hover {
                color: $color-white;
                transform: scale(1.1);
              }
            }
          }
          p {
            // border: .1rem solid white;
            display: grid;
            justify-self: center;
            align-self: center;
          }
        }
      }
    }
  }
}

@import 'mobile';