body {
    position: relative;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.box-cardImg {
    width: 600px;
}

@media (max-width: 800px) {
    .box-cardImg {
        width: 500px;
    }
}

@media (max-width: 550px) {
    .box-cardImg {
        width: 350px;
    }
}
